/.vs/
/TCPlayer/bin/
/TCPlayer/obj/
/TCPlayer.Lib/bin/
/TCPlayer.Lib/obj/
/TCPlayer.MediaLibary/bin/
/TCPlayer.MediaLibary/obj/
/TCPlayer.Installer/bin/
/TCPlayer.Installer/obj/
/packages/
/bin/
/*.db
/*.VC.VC.opendb
/ListerPlugin/x64/
/ListerPlugin/Debug/
/ListerPlugin/Release/
/PackerPlugin/x64/
/PackerPlugin/Debug/
/PackerPlugin/Release/
/TCPlayer/Properties/AssemblyInfo.cs
/TCPlayer.Lib/Properties/AssemblyInfo.cs
/TCPlayer.MediaLibary/Properties/AssemblyInfo.cs
/TCPlayer.Installer/Properties/AssemblyInfo.cs